.main-box {
    display: inline-block;
    width: 630px;
    background-color: #364547;
    box-shadow: 5px 5px 0 #000;
    text-align: center;
    padding: 42px 0;
}

.main-box .main-title {
    margin-bottom: 28px;
}