.main-footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-footer .action {
    padding-right: 20px;
    padding-left: 20px;
}