.section {
    background-color: #ffb037;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2f5d62;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgBlack {
    background-color: #000;
}

.section.-bdFirst {
    border-color: #ffb037;
}